html
	head
		title Angular
		script(type="text/javascript", src="./Scripts/Require.js", data-main="./require-production.js")
	body(ng-class="{'loginScreen':$root.loginPage,'appScreen':!$root.loginPage}")
		div(layout="row" flex="100" flex-layout="row" layout-padding class="animationBackground" style="color:white;")
			li(flex="10")
			li(flex="10")
			li(flex="10")
			li(flex="10")
			li(flex="10")
			li(flex="10")
			li(flex="10")
			li(flex="10")
			li(flex="10")
		div()
			ui-view