html
	head
		title Angular
		script(type="text/javascript", src="./Scripts/Require.js", data-main="./require-production.js")

	body(ng-class="{'loginScreen':$rootScope.loginPage,'appScreen':!$rootScope.loginPage}")
		div()
			ui-view