html
	head
		title Angular
		script(type="text/javascript", src="./Scripts/Require.js" data-main="./require-main.js")
	body(ng-class="{'loginScreen':$root.loginPage,'appScreen':!$root.loginPage}")
		div
			ui-view
		