<md-dialog class="settingsDialog">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Friend List</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content friendListdialog layout="container" style="position:relative;overflow:hidden;">
    	
    	<div flex layout-fill>
      	<div flex="50" layout="column">

        <div flex ng-repeat="friend in friendList track by $index" ng-if="$even">
           <md-card>
              <img ng-src={{"./api/photos/"+friend.username+"/profile"}} class="md-card-image"/>
              <md-card-title>
                    <md-card-title-text layout="row">
                        <div flex-md="50" flex-lg="70" flex-sm="30" class="md-headline" ng-bind="friend.name | nameformatFilter : {length: 4}"></div>
                       
                    </md-card-title-text>
              </md-card-title>
              <md-card-actions></md-card-actions>
          </md-card>
          <span ng-if="$last">
            <span ng-if="$index+1 !=lastupdateFriendlistScroll">
              {{updateFriendlistScroll($index)}}
            </span>
          </span>
        </div>
      </div>
      <div flex="50" layout="column">
        <div flex ng-repeat="friend in friendList" ng-if="$odd">
          <md-card>
             <img ng-src={{"./api/photos/"+friend.username+"/profile"}} class="md-card-image"/>
             <md-card-title>
                   <md-card-title-text>
                       <span class="md-headline" ng-bind="friend.name | nameformatFilter : {length: 4}"></span>
                   </md-card-title-text>
             </md-card-title>
             <md-card-actions></md-card-actions>
         </md-card>
       		<span ng-if="$last">
            <span ng-if="$index+1 !=lastupdateFriendlistScroll">
              {{updateFriendlistScroll($index)}}
            </span>
          </span>
        </div>
      </div>
  
</div>
    </md-dialog-content>
<!--     <md-dialog-actions layout="row" style="display:none;">
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        Not Useful
      </md-button>
      <div>

      </div>
    </md-dialog-actions> -->

</md-dialog>
