<md-whiteframe class="md-whiteframe-3dp" flex layout="column" style="background:white;margin-top:25px;overflow:hidden;">
    <div flex="10" layout="row" class="chat-panel-header md-primary">
      <div flex="40" layout="row">
        <md-input-container class="search-input-container" flex>
            <label>Search</label>
              <input type="text" ng-model="searchKeyword" aria-label="Search Keyword"/>

        </md-input-container>
      </div>
      <div flex="60" layout="row" layout-align="start center">
          <span flex class="md-headline" ng-bind="senderDetails.name || 'Messenger'"><span>
      </div>
    </div>
    <div layout="row" flex="90">
    <!--Main Friend List-->
    <div flex="40" layout="column">
      <!--Friend Search-->
      <!-- <div flex="10" layout="row" class="friends-panel-header">

      </div> -->
      <!--Friend List-->
      <div flex layout="row" friendList perfectscroller>
        <div flex="50" layout="column">

        <div flex ng-repeat="friend in friendList track by $index | nameFilter : {name: searchKeyword}" ng-if="$even">
           <md-card ng-click="changeSenderdetails(friend)">
              <img ng-src={{"./api/photos/"+friend.username+"/profile"}} class="md-card-image"/>
              <md-card-title>
                    <md-card-title-text layout="row">
                        <div flex-md="50" flex-lg="70" flex-sm="30" class="md-headline" ng-bind="friend.name | nameformatFilter : {length: 4}"></div>
                        <div ng-if="friend.totalMsgCount - friend.lastReadmsg > 0" class="chipMsg" flex-lg="30" flex-md="50" flex-sm="70"><strong ng-bind="friend.totalMsgCount - friend.lastReadmsg > 9 ? '9+' : friend.totalMsgCount - friend.lastReadmsg"></strong></div>
                    </md-card-title-text>
              </md-card-title>
              <md-card-actions></md-card-actions>
          </md-card>
          <span ng-if="$last">
            <span ng-if="$index+1 !=lastupdateFriendlistScroll">
              {{updateFriendlistScroll($index)}}
            </span>
          </span>
        </div>
      </div>
      <div flex="50" layout="column">
        <div flex ng-repeat="friend in friendList | nameFilter : { name: searchKeyword}" ng-if="$odd">
          <md-card ng-click="changeSenderdetails(friend)">
             <img ng-src={{"./api/photos/"+friend.username+"/profile"}} class="md-card-image"/>
             <md-card-title>
                   <md-card-title-text>
                       <span class="md-headline" ng-bind="friend.name | nameformatFilter : {length: 4}"></span>
                   </md-card-title-text>
             </md-card-title>
             <md-card-actions></md-card-actions>
         </md-card>
         <span ng-if="$last">
           <span ng-if="$index+1 !=lastupdateFriendlistScroll">
           {{updateFriendlistScroll($index)}}
         </span>
         </span>
        </div>
      </div>
      </div>
    </div>
    <!--Chat Panel-->
    <div flex="60" layout="column" class="friendList-container">
      <!--Chat Window-->
      <div class="loadprevious-container" layout="row" layout-align="center center" ng-if="receivePanel[senderDetails.username] && showLoadmore">
          <div flex-lg="20" flex-md="40" class="loadmore-btn" ng-click="loadOldermessages()">Load previous</div>
      </div>
        <div flex="90" layout="column" ng-class="{'chat-window':senderDetails.username}">
              <!--Chat Window Header-->
              <!-- <div flex="10" layout="row" layout-align="start center" layout-padding class="chat-header">

              </div> -->
              <!--Chat Mesage Window-->
               <div flex="grow"> 
                    <div ng-if="receivePanel[senderDetails.username]" layout="row" layout-padding ng-repeat="message in receivePanel[senderDetails.username]">
                        <div ng-if="message.from == senderUsername" flex="50"></div>
                        <div flex="50" layout="row">
                          <div class="bubble" flex="90" ng-class="{'right':message.from == senderUsername,'left': message.from != senderUsername}" ng-bind-html="message.message">

                          </div>
                        </div>
                    </div>
               </div> 
        </div>
        <!--Chat Input-->
        <div flex="10" layout="row" ng-hide="!senderDetails.username">
              <div flex-lg="70" flex-md="60" flex-sm="60" layout="column" class="chat-input-container md-body-1" perfectscroller>
                  <msg-input flex></msg-input>
              </div>
              <div flex-lg="30" flex-md="40" flex-sm="40" layout="row">
                  <md-button ng-click="sendMsg()" aria-label="send" class="md-raised md-primary md-hue-1 md-fab md-mini" ng-click="">
                      <md-icon md-svg-icon="send"></md-icon>
                  </md-button>
                  <md-button aria-label="emoji" class="md-raised md-accent md-hue-1 md-fab md-mini" ng-click="">
                      <md-icon md-svg-icon="reddit"></md-icon>
                  </md-button>
                  <md-button aria-label="send-file" class="md-raised md-accent md-hue-2 md-fab md-mini" ng-click="">
                      <md-icon md-svg-icon="file-send"></md-icon>
                  </md-button>
              </div>
        </div>
    </div>
  </div>
</md-whiteframe>
