<md-dialog aria-label="notifications" class="settingsDialog">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Friend Request Notifications</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content friendListdialog layout="container" style="position:relative;overflow:hidden;">
    	
    	<div flex layout-fill>
      	<div flex layout="column">
          <div ng-if="friendRequestlist.length==0">

                <md-whiteframe class="md-whiteframe-3dp" layout-padding flex layout="row" style="height:100px; margin:30px;">
  
                  <div flex="100" layout="row" layout-align="center center">
                      <div class="md-headline" style="text-align:center;">
                            No pending Friend Requests...
                      </div>
                  </div>
                </md-whiteframe>
              </div>
          </div>
          <div flex ng-if="friendRequestlist.length>0" ng-repeat="friend in friendRequestlist track by $index">
               <!-- <md-card>
                  <img ng-src={{"./api/photos/"+friend.username+"/profile"}} class="md-card-image"/>
                  <md-card-title>
                        <md-card-title-text layout="row">
                            <div flex-md="50" flex-lg="70" flex-sm="30" class="md-headline" ng-bind="friend.name | nameformatFilter : {length: 4}"></div>
                           
                        </md-card-title-text>
                  </md-card-title>
                  <md-card-actions></md-card-actions>
                </md-card> -->

                <md-whiteframe class="md-whiteframe-3dp" layout-padding flex layout="row" style="height:100px; margin:30px;cursor:pointer;" ng-click="gotoProfile(friend.username);">
                  <div flex="30" style="background-image:url({{'./api/photos/'+friend.username+'/profile'}});background-size:contain;background-repeat:no-repeat;background-position:50% 50%;">
                  </div>  
                  <div flex="70" layout="row" layout-align="center center">
                      <div  class="md-headline" ng-bind="friend.name" style="text-align:center;text-transform:capitalize;"></div>
                  </div>
            

                  <span ng-if="$last">
                    <span ng-if="$index+1 !=lastupdateFriendlistScroll">
                      {{updateFriendlistScroll($index)}}
                    </span>
                  </span>
                </md-whiteframe>
          </div>
        </div>
      </div>
    </md-dialog-content>
<!--     <md-dialog-actions layout="row" style="display:none;">
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        Not Useful
      </md-button>
      <div>

      </div>
    </md-dialog-actions> -->

</md-dialog>
