<md-dialog class="settingsDialog">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Settings</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="close()">
          <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="overflow:hidden;">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Profile">
          <md-content class="md-padding">
            <form layout="row" name="profile" layout-padding>
              <input type="hidden" ng-model="userdetails.username"/>
            <div flex="70" class="profileSettings" layout="column" perfectscroller>
              <div layout-padding>
                  <div layout="row">
                      <md-input-container class="flex" required>
                          <label>Name</label>
                          <input type="text"  name="name" ng-model="userdetails.name" required/>
                      </md-input-container>
                  </div>
                  <div layout="row">
                      <div flex="50" layout="row">
                             <md-input-container flex required>
                                  <label>Gender</label>
                                  <md-select name="gender"  ng-model="userdetails.otherDetails.gender" required>
                                    <md-option value="male">Male</md-option>
                                    <md-option value="female">Female</md-option>
                                    <md-option value="transgender">Transgender</md-option>
                                  </md-select>
                              </md-input-container>
                      </div>
                      <div flex="50" layout="row" style="margin:15px;">
                             <md-datepicker ng-model="userdetails.otherDetails.born.date" flex md-max-date="todayDate" name="bornDate" ng-model="bornDate" md-placeholder="Born Date"></md-datepicker>
                      </div>
                  </div>
                  <div layout="row">
                      <div flex="50">
                          <md-input-container class="flex">
                              <label>Hometown</label>
                              <input type="text" ng-model="userdetails.otherDetails.hometown.name"/>
                      </md-input-container>
                      </div>
                      <div flex="50">
                          <md-input-container class="flex">
                              <label>Currently Lives at</label>
                              <input type="text" ng-model="userdetails.otherDetails.livesAt.name"/>
                      </md-input-container>
                      </div>
                  </div>
                  <div layout="row">
                      <md-input-container class="flex">
                          <label>School Name</label>
                          <input type="text" ng-model="userdetails.otherDetails.school.name"/>
                      </md-input-container>
                  </div>
                  <div layout="row">
                      <md-input-container class="flex">
                          <label>Graduated at</label>
                          <input type="text" ng-model="userdetails.otherDetails.graduation.name"/>
                      </md-input-container>
                  </div>
                   <div layout="row">
                      <md-input-container class="flex">
                          <label>Currently Working at</label>
                          <input type="text" ng-model="userdetails.otherDetails.work.name" />
                      </md-input-container>
                  </div>
              </div>
            </div>
            <div flex="30" class="profileSettings" layout="column">
              <div flex="70">
                  <div class="validation-messages" ng-messages="profile.name.$error">
                    <div ng-message="required">Name field cannot be empty!!</div>
                  </div>
                   <div class="validation-messages" ng-messages="profile.gender.$error">
                    <div ng-message="required">Gender field cannot be empty!!</div>
                  </div>
                  <div class="validation-messages" ng-messages="profile.bornDate.$error">
                    <div ng-message="valid">The birth date value is not a valid date!</div>
                    <div ng-message="maxdate">Birth date cannot be future!!!</div>
                  </div>
              </div>
              <div flex="30">
                  <md-button class="md-raised wave-effect">Reset</md-button>
                  <md-button class="md-raised md-primary wave-effect" ng-click="saveUserDetails()" ng-disabled="profile.$invalid">Save</md-button>
              </div>
            </div>
            </form>
          </md-content>
        </md-tab>
        <md-tab label="Account">
          <md-content class="md-padding" >
            <h1 class="md-display-2">Change Password</h1>

          </md-content>
        </md-tab>
        <md-tab label="Display Picture">
          <md-content layout-padding class="md-padding">
            <div layout="row" layout-padding>
              <div flex="50" layout="column" flow-init="{target:'/api/upload/profile',singleFile:true, testChunks:false}" flow-files-submitted="checkFile($flow,'profile');">
                <h4 style="text-align:center;color:#3434B1;text-decoration:uppercase;">Profile Photo</h1>
                 <div  hide-md hide-sm class="dropPhoto" layout="column" flow-drop flow-attrs="{accept:'image/jpeg'}" flow-file-added="fileAdded('profile',$file);" flow-upload-started="fileUploadStarted('profile');" flow-complete="fileUploadComplete('profile');" flow-file-progress="uploadprofileProgress($flow,'profile');" ng-class="{'photoadded':!profileFlags.showLoading && !profileFlags.showText, 'dragonDropper':dragOverProfile}" flow-drag-enter="dragOverProfile=true;" flow-drag-leave="dragOverProfile=false;" style="position:relative;">
                      <div ng-show="profileFlags.showText" layout="column" layout-align="end center" layout-fill class="" style="text-align:center;color:#3597AF;height:100%;position:absolute;">Drop your photo in this profile bin <h5> <strong>Note:</strong> Please upload image file less than 2MB</h5></div>
                      <div layout="column" layout-align="center center" layout-fill style="position:absolute;">
                        <md-progress-circular md-mode="determinate" ng-show="profileFlags.showLoading" ng-value="profileFlags.loadingValue" md-diameter="80"></md-progress-circular>
                      </div>
                      <div layout="column" layout-align="center center" layout-fill style="position:absolute;">
                        <img ng-show="!profileFlags.showLoading && !profileFlags.showText" flow-img="$flow.files[0]"  ng-class="{'setHeight':!profileEmptyText,'ng-hide':profileEmptyText}"/>
                      </div>
                 </div>
                 <div layout="row" layout-align="center center" style="margin-top:5px;">
                      <md-button type="file" ng-click="uploadProfile();" class="md-raised md-primary">
                      <md-icon class="material-icons" md-svg-icon="cloud-upload"></md-icon>
                      Upload
                      </md-button>
                  </div>
                  <input id="uploadProfilephoto" type="file" flow-btn flow-attrs="{accept:'image/jpeg'}" style="display:none;"/>
              </div>
              <div flex="50" layout="column" flow-init="{target:'/api/upload/cover',singleFile:true, testChunks:false}" flow-files-submitted="checkFile($flow,'cover');">
                <h4 style="text-align:center;color:#3434B1;text-decoration:uppercase;">Cover Photo</h1>
                 <div  hide-sm hide-md class="dropPhoto" layout="column" flow-drop flow-attrs="{accept:'image/jpeg'}" flow-file-added="fileAdded('profile',$file);" flow-upload-started="fileUploadStarted('cover');" flow-complete="fileUploadComplete('cover');" flow-file-progress="uploadprofileProgress($flow,'cover');" ng-class="{'photoadded':!coverFlags.showLoading && !coverFlags.showText, 'dragonDropper':dragOverProfile}" flow-drag-enter="dragOverProfile=true;" flow-drag-leave="dragOverProfile=false;" style="position:relative;">
                      <div ng-show="coverFlags.showText" layout="column" layout-align="end center" layout-fill class="" style="text-align:center;color:#3597AF;height:100%;position:absolute;">Drop your photo in this cover bin <h5> <strong>Note:</strong> Please upload image file less than 2MB</h5></div>
                      <div layout="column" layout-align="center center" layout-fill style="position:absolute;">
                        <md-progress-circular md-diameter="80" md-mode="determinate" ng-show="coverFlags.showLoading" ng-value="coverFlags.loadingValue"></md-progress-circular>
                      </div>
                      <div layout="column" layout-align="center center" layout-fill style="position:absolute;">
                        <img ng-show="!coverFlags.showText && !coverFlags.showLoading" flow-img="$flow.files[0]"  ng-class="{'setHeight':!profileEmptyText,'ng-hide':profileEmptyText}"/>
                      </div>
                 </div>
                 <div layout="row" layout-align="center center" style="margin-top:5px;">
                      <md-button type="file" ng-click="uploadCover();" class="md-raised md-primary">
                      <md-icon class="material-icons" md-svg-icon="cloud-upload"></md-icon>
                      Upload
                      </md-button>
                  </div>
                  <input id="uploadCoverphoto" type="file" flow-btn flow-attrs="{accept:'image/jpeg'}" style="display:none;"/>
              </div>
            </div>

          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="display:none;">
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        Not Useful
      </md-button>
      <div>

      </div>
    </md-dialog-actions>

</md-dialog>
