<section layout="row" flex>
		<md-sidenav class="md-sidenav-left" md-component-id="mainSlider">
	      <md-toolbar>
	      	<div class="md-toolbar-tools">
	        	<h1 flex="80">Sidenav Left</h1>
	        	<md-icon class="material-icons pointer" md-svg-icon="close" ng-click="openSlideNav();">reorder</md-icon>
	    	</div>
	      </md-toolbar>
	      <md-content layout-padding>

	        <md-button ng-click="logout()" class="md-primary">
	          Logout
	        </md-button>
	      </md-content>
	    </md-sidenav>
	 </section>

<div layout="column" layout-fill id="mainProfilepanel">

	<div>

			<md-fab-toolbar md-open="fabOpen" count="0" md-direction="left">
					 <md-fab-trigger class="align-with-text">
					      <md-button ng-class="{'notify md-warning':notifyUser, 'md-primary':!notifyUser}" ng-click="notifyUser=false;updateNotification(true);" aria-label="menu" class="md-fab animated">
					       <md-icon class="material-icons" md-svg-icon="yeast"></md-icon>
					      </md-button>
				   	 </md-fab-trigger>
				   	  <md-toolbar>
					      <md-fab-actions class="md-toolbar-tools">
					        <md-button aria-label="comment" class="md-icon-button" ng-click="openSettings();">
					           <md-icon class="material-icons" md-svg-icon="settings"></md-icon>
					        </md-button>
					        <md-button aria-label="label" class="md-icon-button" ng-click="gotoMessages();">
					          <md-icon class="material-icons" md-svg-icon="message"></md-icon>
					        </md-button>
					        <md-button aria-label="photo" class="md-icon-button" ng-click="openNotification();">
					            <md-icon class="material-icons" md-svg-icon="earth"></md-icon>
					        </md-button>
					      </md-fab-actions>
	    			</md-toolbar>
			</md-fab-toolbar>
		<div class="absolute fixTotop header full-width" layout="row" ng-hide="fabOpen">
					<div flex="10">
						<md-button class="md-fab md-primary" aria-label="Logout" ng-click="openSlideNav();">
	         		<md-icon class="material-icons" md-svg-icon="view-headline"></md-icon>
	        	</md-button>
					</div>
					<div layout="row" layout-align="center center" layout-padding flex="80">
						<md-autocomplete flex style="padding :0;"
							md-no-cache="true"
							md-selected-item="search.selected"
							md-search-text="search.searchText"
							md-selected-item-change="search.selectedItem(item)"
							md-items="item in search.querySearch(search.searchText)"
							md-item-text="item.name"
							md-min-length="0"
							placeholder="Search">
						<md-item-template>
							<div flex layout="row" layout-align="start center">
							<img ng-src={{"./api/photos/"+item.username+"/profile"}} width="35" height="35" style="border-radius:20px;"/>
							<span md-highlight-text="search.searchText" style="margin-left:10px;" md-highlight-flags="^i">{{item.name}}</span>
							<span flex></span>
							<span ng-if="item.username==curr_username" style="float:right;">It's me!!!</span>
							</div>
						</md-item-template>
						<md-not-found>
							Search your friend with their registered email-id or username.
						</md-not-found>
					</md-autocomplete>
					</div>
					</div>
    	</div>

    	<div layout-fill layout="column" class="profilePage">
    		<div class="profileName" layout="row" layout-padding layout-align="end center">
    			<div class="profileNameCntr">
    				<span ng-bind="profileUserDetails.name"></span>
    			</div>
    		</div>
    		<div class="profileBase" layout-gt-sm="row" layout-sm="column" layout-padding layout-align-gt-sm="start end">
    				<div class="profileContainer md-whiteframe-20dp" flex-sm="80" flex-gt-sm="30" layout-padding layout="row">
    					<div id="profileImagepanel" flex class="profileImage"></div>

    				</div>
    				<div hide-sm flex></div>
    				<div class="profileDetailBtnCntr" flex-lg="20" flex-md="40" flex-sm layout="row" layout-align="end end">
    					<!-- <md-content layout="row" layout-align="center center"> -->
    				
				       <md-fab-speed-dial md-open="demo" md-direction="up" class="md-scale">
					        <md-fab-trigger>
					          <md-button aria-label="menu" class="md-fab" ng-class="{'md-primary' :(!friendRequested && !friendRequestsent) ,'md-warn':(friendRequested || friendRequestsent)}">
					            <md-icon md-svg-icon="{{(!myFriend && !friendRequested && !friendRequestsent) ? 'account' : (myFriend ? 'account-check' : 'account-alert')}}"></md-icon>
					          </md-button>

					        </md-fab-trigger>
					        <md-fab-actions>

					        	<md-menu md-offset="0 -7">
							          <md-button aria-label="user details" class="md-fab md-raised md-mini" ng-click="$mdOpenMenu($event);setProfiledetailScroller(false);">
							            <md-icon md-svg-icon="account"></md-icon>
							          </md-button>
							          <md-menu-content layout="column" width="6" class="profile-menu">
							          <!-- <perfect-scrollbar layout-container layout-padding class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20"> -->
							           	 <md-whiteframe layout-padding class="md-whiteframe-1dp profilescrollersetter" layout-container layout-align="center center">
							           	 	<div layout="column"  ng-if="profileDetailKeys.length>0" ng-repeat="key in profileDetailKeys">
							           	 	<div layout="row">
										     <div flex="20" layout="row">
										     	<md-icon class="icon-color" md-svg-icon="{{detailTemplate[key].icon}}"></md-icon>
										     </div>
										     <div flex="80" layout="column">
										     	<div class="profile-details-title">
										     		<h4 class="no-margin">{{detailTemplate[key].title}}</h4>
										     	</div>
										     	<div class="profile-details">
										     		{{(profileUserDetails.otherDetails[key].name) || (profileUserDetails.otherDetails[key].type) || (profileUserDetails.otherDetails[key].date | momentFilter)}}
										     	</div>
								           	</div>
								           	</div>
										     <md-divider ng-if="!$last"></md-divider>
								           	</div>
								           	<div class="empty-placehoder" layout="column" ng-focus="$event.preventDefault();" ng-click="adminUser ? openSettings() : javascript.void(0);" ng-if="profileDetailKeys.length==0">
							           	 	<div layout="row">
										     <div flex="20" layout="row">
										  		 <md-icon class="icon-color" md-svg-icon="{{adminUser?'settings':'account'}}"></md-icon>
										     </div>
										     <div flex="80" layout="column"  class="profile-details">
										     	<h4 ng-if="adminUser">
										     	We need to know more about you. Update us under profile tab in settings.
										     	</h4>
										     	<h4 ng-if="!adminUser">
										     	{{profileUserDetails.name}} hasn't shared details with us.
										     	</h4>
								           	</div>
								           	</div>
								           	</div>

										  </md-whiteframe>
										<!-- </perfect-scrollbar> -->
							          </md-menu-content>
							    </md-menu>

					          	<md-button ng-disabled="friendRequestsent" ng-if="!adminUser && !myFriend && !friendRequested" ng-click="sendfriendRequest()" aria-label="Add as Friend" class="md-fab md-raised md-mini">
					            	<md-icon md-svg-icon="account-plus" aria-label="Friend"></md-icon>
					          	</md-button>

					          	<md-button ng-if="!adminUser && !myFriend && friendRequested && !friendRequestsent" ng-click="acceptfriendRequest()" aria-label="Accept as Friend" class="md-fab md-primary md-raised md-mini">
					            	<md-icon md-svg-icon="account-plus" aria-label="Friend"></md-icon>
					          	</md-button>

					          	<md-button ng-if="!adminUser" aria-label="Poke" class="md-fab md-raised md-mini">
					            	<md-icon md-svg-icon="thumb-up" aria-label="Poke"></md-icon>
					          	</md-button>
					          	
					          	<md-button ng-click="openFriendsDialog();" aria-label="Friends" class="md-fab md-raised md-mini">
					            	<md-icon md-svg-icon="account-multiple" aria-label="Friends"></md-icon>
					          	</md-button>

					        </md-fab-actions>
					      </md-fab-speed-dial> 
					      
				        <!-- </md-content> -->
    				</div>
    		</div>
    		<div class="profileFooter"></div>
    	</div>
	</div>
</div>
