<div class="verifyPage">
<div layout="column" class="row">
	<div class="col s12 m12 l12">
		
			<md-button class="md-raised md-primary right" ng-click="logout()">Logout</md-button>
	</div>
</div>
<div layout="column" class="row">
	<div class="col s10 m10 l10 offset-m1 offset-l1 offset-s1 center">
			<span class="white-text flow-text">
				Due to security reasons, we need to verify your email address so kindly proceed by entering the PIN that we have sent to your e-mail address.
			</span>
	</div>
</div>
<div layout="column" class="row">
	<div class="col s12 m12 l6 offset-l3 verifyCard verifyCardLayout animated bounceInUp">
		<div class="col s3 m3 l3 blue imageCntr emailIcon">
			<i class="large material-icons">email</i>
		</div>
		<div class="col s9 m9 l9 white inputCntr">
			<md-input-container class="col s12 m12 l12">
		         		<label>Please enter your Verify PIN here</label>
		          		<input type="text" ng-model="verifypin" maxlength="7" required/>
	        </md-input-container>
	        <md-input-container class="col s8 m8 l8">
		         		<label>Username</label>
		          		<input type="text" ng-model="username" ng-blur="validateUsername()" maxlength="15" required/>
	        </md-input-container>
	        <div class="col s4 m4 l4">
	        </div>
	        <div class="blue-text" class="col s12 m12 l12">
	        	<span class="userLink" ng-show="showUrl">
					{{userUrl}}
				</span>
				<span class="green-text userLink" ng-show="showUsernameNeed">
					Please select ur username and it should contain minimum of six characters
				</span>
				<span class="green-text userLink" ng-show="showUsernamelenErr">
					Sorry Username contains less than six characters
				</span>
				<span class="green-text userLink" ng-show="showUernameAvail">
					Sorry Username unavailable.... Please try a different...
				</span>
			</div>
			
		</div>
	</div>
</div>	
<div layout="column" class="row">
	<div ng-show="showButtons" ng-class="{'fadeIn':showButtons}" class="col s12 m12 l4 offset-l4 animated">
		<md-button class="white-text text-darken-1">Regenerate pin</md-button>
        <md-button class="md-raised md-primary right wave-effect" ng-click="proceed();">Proceed</md-button>
	</div>
</div>	
</div>